/*Estructura del documento */
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  /*background-color: #14202E;*/
  background-image: url(https://tinypic.host/images/2023/03/19/img_background.jpg);
  background-repeat: repeat;
  background-attachment: fixed;
  padding: 20px;
  margin: 0;
}

header {
  max-width: 90%;
  background-color: #003B73;
  margin:0 auto;
}

nav {
  max-width: 90%;
  background-color: #60A3D9;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

main {
  width: 90%;
  background-color: #BFD7ED;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;  
}

footer {
  max-width: 90%;
  background-color: #60A3D9;  
  margin-left: auto;
  margin-right: auto;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px; 
  }

/*Organización de los contenidos*/
article {
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}

/*Imágenes*/

img {
  margin: auto;
}

.pantalla {
  display: block;
  width: 90%;
  min-height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

/*Alineacion de elementos*/
.item, .articulo {
  display: flex;
}

.item {
  flex-direction: row;
  flex-wrap: wrap;
}

.articulo {
  flex-direction: column;
  width: 25%;
  height: 50vh;
}
  
center {
  font-size: 18px;
  line-height: normal;
  color: #122c4a;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

/*Formato de texto*/
.titular {
   font-size: 70px;
   color: #FFD53D;
   font-family: 'Playfair Display', serif;
   font-weight: 900;
   text-align: center;
   padding-top: 30px;
   margin-bottom: 0;
   }

.subtitulo {
  font-size: 30px;
  color: #BFD7ED;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-style: italic;
  text-align: center;
  margin-top: 0;
  padding-top: 5px;
  padding-bottom: 40px;
  text-transform: uppercase;
  }

.tema {
   font-size: 30px;
   line-height: normal;
   color: #003B73;
   font-family: 'Montserrat', sans-serif;
   font-weight: 600;
   margin-top: 10px;
   margin-bottom: 10px;
   }
.fecha, .fuente {
  margin: 0;
}

.fuente {
  font-size: 15px;
}

h3 {
   font-size: 20px;
   font-style: bold;
   line-height: normal;
   color: #0074B7;
   font-family: 'Montserrat', sans-serif;
   font-weight: 600;
   margin-left: 10px;
   margin-top: 10px;
   margin-bottom: 0px;
   width: 90%;
   }

h4 {
   font-size: 20px;
   line-height: normal;
   color: #a974c9;
   font-family: 'Montserrat', sans-serif;
   font-weight: 500;
   }

.texto {
  font-size: 20px;
  line-height: normal;
  color: #003B73;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin-left: 10px;
  width: 90%;
  white-space:wrap;
  overflow:auto;
  text-overflow:ellipsis;
  }  

  figcaption {
  font-size: 20px;
  line-height: normal;
  color: #003B73;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 400;
  margin: 0 auto;
  max-width: 90%;
  }

/*Enlaces*/

a {
  color: #003B73;
}

a:hover {
  color: #C35851;
}

a:active {
  color: #FFD53D;
}

ol, ul {
  font-size: 20px;
  line-height: normal;
  color: #122c4a;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  }